alabaster==0.7.10
Babel==2.5.0
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==4.2.1
Pygments==2.2.0
pytz==2017.2
requests==2.18.4
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
typing==3.6.2
urllib3==1.22
